@{
    ViewData["Title"] = "Home";
}

<h1>Bookings.net</h1>
<p>
    <a asp-controller="Rooms" asp-action="Index">🏨 View Rooms</a> |
    <a asp-controller="Bookings" asp-action="Index">📖 View Bookings</a> |
    <a asp-controller="Bookings" asp-action="Create">📝 Make a Booking</a>
</p>
